<sly data-sly-use.conditonTags="com.adobe.aem.guides.wknd.core.models.ConditionTagsModel"
     data-sly-use.templates="core/wcm/components/commons/v1/templates.html"></sly>
<sly data-sly-call="${templates.placeholder @ isEmpty=wcmmode.edit, classAppend='cmp-static-info'}"></sly>

<ul data-sly-list.conditiontags = "${conditonTags.conditiontags}">

    ${conditiontags.image}
    ${conditiontags.conditionLabel}
    ${conditiontags.conditionTags}
    ${conditiontags.description}
    ${conditiontags.title}
    ${conditiontags.ctaLink}   

</ul>

</sly>
